.card {
  display: flex;
  flex-direction: column;
  max-width: 282px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: #000;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  max-width: 282px;
}

.card__description-title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

.card__like-button {
  flex-shrink: 0;
  background: transparent url(../images/like-button-inactive.svg) center
    no-repeat;
  width: 21px;
  height: 18px;
  border: 0;
  padding: 0;
  transition: 0.5s ease-in-out opacity;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 50%;
}
