.footer {
  font-size: 18px;
  font-weight: 400;
  color: #545454;
  margin: 67px auto 60px;
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: 14px;
    margin: 48px 19px 36px;
  }
}
