.header {
  max-width: 880px;
  padding-bottom: 41px;
  border-style: solid;
  border-color: rgba(84, 84, 84, 1);
  border-width: 0 0 1px 0;
  margin: 45px auto 0;
}

@media screen and (max-width: 920px) {
  .header__image {
    margin-left: 27px;
  }
}

@media screen and (max-width: 480px) {
  .header__image {
    max-width: 124px;
  }

  .header {
    padding-bottom: 32px;
  }
}
